# These variables should partition the entire space of projects
# which have ever existed.
declare MONOREPO_PROJECTS=(?:cfe|monorepo-root|clang-tools-extra|compiler-rt|debuginfo-tests|libclc|libcxx|libcxxabi|libunwind|lld|lldb|llgo|llvm|openmp|parallel-libs|polly|stacker|pstl|flang)
declare SEPARATED_PROJECTS=(?:lnt|test-suite|www|www-pubs|zorg)
declare ARCHIVE_PROJECTS=(?:llvm-gcc-4-2|clang-tests|clang-tests-external|core|llvm-top|sample|support|hlvm|llvm-gcc-4.0|llvm-gcc-4.2|llbrowse|television|nightly-test-server|java|vmkit|gcc-plugin|dragonegg|safecode|poolalloc)
declare IGNORED_PROJECTS=(?:giri|klee|elp|lold|tmp|website|trunk|tags|branches|cfe.dead|www-releases)

# Some branches are at a different level. Enumerate those.
declare NESTED_BRANCHNAMES=(?:Apple/1040|Apple|checker|cremebrulee|google|ggreif|GSoC|wendling)
declare BRANCH_DIRS=(?:branches/${NESTED_BRANCHNAMES}/|branches/)
declare TAG_DIRS=(?:tags/RELEASE_(?!(?:1|1[0-9]|2[0-8])/)[^/]+/|tags/google/[^/]+/|tags/${NESTED_BRANCHNAMES}/|tags/)

declare BRANCH_PATTERNS=(?:${BRANCH_DIRS}[^/]+)
declare TAG_PATTERNS=(?:${TAG_DIRS}[^/]+|tags/RELEASE_28/rc[0-3])

# Ignore commits creating the toplevel directory of a nested branch/tag, to avoid ref-name
# conflicts (e.g. refs/tags/RELEASE_700 vs refs/tags/RELEASE_700/final).
match /[^/]*/(?:${BRANCH_DIRS}|${TAG_DIRS})$$
end match

### Ignore initial messed up release_21 branch creation
match /
  min revision 41911
  max revision 41917
end match

match /
  min revision 41919
  max revision 41919
end match

### Ignore branch/tag fiddling with release 3.5.
# This goes along with the 'substitute branch' of RELEASE_35 to RELEASE_350.
# Skips:
# * Rename of */branches/release_35 to */branches/release_350
# * Rename of */branches/release_350 BACK to */branches/release_35
# * Rename of */tags/RELEASE_35 to */tags/RELEASE_350
match /
  min revision 215001
  max revision 215030
end match

### Ignore tag fiddling for release 2.8.
# Skips deletion of */tags/RELEASE_28 (containing release candidates)
# This goes along with the substitute of RELEASE_28 to RELEASE_28/final.
match /
  min revision 113062
  max revision 113065
end match
match /
  min revision 115865
  max revision 115865
end match
match /
  min revision 115867
  max revision 115867
end match
match /
  min revision 115869
  max revision 115869
end match
match /
  min revision 115871
  max revision 115871
end match


### Ignore aborted release 3.1 branch creation
match /
  min revision 154899
  max revision 154903
end match
match /
  min revision 154909
  max revision 154909
end match
match /
  min revision 155050
  max revision 155050
end match
match /
  min revision 155052
  max revision 155052
end match
match /
  min revision 155054
  max revision 155054
end match
match /
  min revision 155056
  max revision 155056
end match
match /
  min revision 155058
  max revision 155058
end match
