include llvm-svn2git-common.rules

# Create the repositories (unfortunately duplicative of the data in -common.
create repository archive
end repository

create repository lnt
end repository

create repository test-suite
end repository

create repository www
end repository

create repository www-pubs
end repository

create repository zorg
end repository

### Handle archive repo

## Handle gcc-plugin -> dragonegg special cases:

match /gcc-plugin/
  # In this (single) revision, the files weren't in a trunk subdir yet.
  max revision 74837
  repository archive
  branch refs/pristine/master
  prefix dragonegg/
end match

match /
  # Ignore move from /gcc-plugin/ to /gcc-plugin/trunk/
  min revision 74897
  max revision 74897
end match

match /gcc-plugin/trunk/
  # Special case: use "dragonegg" dir for /gcc-plugin.
  max revision 83829
  repository archive
  branch refs/pristine/master
  prefix dragonegg/
end match

match /
  # Ignore move from gcc-plugin/ to dragonegg/, and re-addition of
  # gcc-plugin with README.
  min revision 83830
  max revision 83831
end match

match /dragonegg/branches/trunk/
  # r142090 branched dragonegg to "trunk"; they meant "release_30".
  min revision 142090
  max revision 142090
  repository archive
  branch refs/pristine/release_30
  prefix dragonegg/
end match

match /
  # ...and then r142091 renamed it.
  min revision 142091
  max revision 142091
end match

##

match /
  # Ignore move from /llvm-gcc-4-2/ to /llvm-gcc-4.2/
  min revision 39966
  max revision 39966
end match

match /llvm-gcc-4-2/trunk/
  # Rename llvm-gcc-4-2 to llvm-gcc-4.2
  repository archive
  branch refs/pristine/master
  prefix llvm-gcc-4.2/
end match

match /(${ARCHIVE_PROJECTS})/trunk/
  repository archive
  branch refs/pristine/master
  prefix \1/
end match

match /(${ARCHIVE_PROJECTS})/(${BRANCH_PATTERNS}|${TAG_PATTERNS})/
  repository archive
  prefix \1/
  branch refs/pristine/\2
  substitute branch s!^refs/pristine/tags/RELEASE_35$!refs/pristine/tags/RELEASE_350!
  substitute branch s!^refs/pristine/tags/RELEASE_28$!refs/pristine/tags/RELEASE_28/final!
  substitute branch s!^refs/pristine/branches/apple$!refs/pristine/branches/apple-base!
  substitute branch s!^refs/pristine/tags/!refs/pristine/svntag/!
  substitute branch s!^refs/pristine/branches/!refs/pristine/!
end match

### Handle separate-repo projects.

# Ignore a few movies that were added to www/
match /www/trunk/devmtg/2013-04/bougacha-lores.mov
end match
match /www/trunk/devmtg/2013-04/jasper-lores.mov
end match
match /www/trunk/devmtg/2013-04/krzikalla-lores.mov
end match
match /www/trunk/devmtg/2013-04/pellegrini-lores.mov
end match
match /www/trunk/devmtg/2013-04/stepanov-lores.mov
end match

match /(${SEPARATED_PROJECTS})/trunk/
  repository \1
  branch refs/pristine/master
end match

match /(${SEPARATED_PROJECTS})/(${BRANCH_PATTERNS}|${TAG_PATTERNS})/
  repository \1
  branch refs/pristine/\2
  substitute branch s!^refs/pristine/tags/RELEASE_35$!refs/pristine/tags/RELEASE_350!
  substitute branch s!^refs/pristine/tags/RELEASE_28$!refs/pristine/tags/RELEASE_28/final!
  substitute branch s!^refs/pristine/branches/apple$!refs/pristine/branches/apple-base!
  substitute branch s!^refs/pristine/tags/!refs/pristine/svntag/!
  substitute branch s!^refs/pristine/branches/!refs/pristine/!
end match


### Explicitly ignore the ignorables.
match /(${MONOREPO_PROJECTS}|${IGNORED_PROJECTS})/
end match

match /README.(html|txt)
end match

# Note: any unhandled paths that reach the end are an error.
