include llvm-svn2git-common.rules

create repository monorepo
end repository

### Ignore changes to stacker after the revision we drop it.
match /stacker/
  min revision 40407
end match


### In llvm/branches/ggreif/, there's a README and branches. Can't
### have both; ignore the README.
match /llvm/branches/ggreif/README
end match

### Ignore llvm-gcc-4.2 tags that were put under llvm/tags/Apple by accident, repeatedly.
match /llvm/tags/Apple/.*llvmgcc42.*
end match


### Handle cfe->clang special cases:

# Skip the revisions that deleted cfe/cfe/ and moved it to cfe/
# Note, we also skip 39735, which moved ModuleInfo.txt, because we've
# already imported it to the right location from the get-go.
match /
  min revision 39733
  max revision 39736
end match

# cfe was in cfe/cfe, at first
match /cfe/cfe/trunk/
  repository monorepo
  branch refs/pristine/master
  prefix clang/
end match

# There were no tags and branches back then, but there were empty directories; ignore them.
match /cfe/cfe/
end match

# Also special cases for the current location of clang: we want to call it clang, not cfe.
match /cfe/trunk/
  repository monorepo
  branch refs/pristine/master
  prefix clang/
end match

match /cfe/(${BRANCH_PATTERNS}|${TAG_PATTERNS})/
  repository monorepo
  branch refs/pristine/\1
  prefix clang/
  # A '~' in one branch name (Apple/clang-6~1) makes git unhappy.
  substitute branch s!^refs/pristine/tags/Apple/clang-6~1!tags/Apple/clang-6.1!
  
  substitute branch s!^refs/pristine/tags/RELEASE_35$!refs/pristine/tags/RELEASE_350!
  substitute branch s!^refs/pristine/tags/RELEASE_28$!refs/pristine/tags/RELEASE_28/final!
  substitute branch s!^refs/pristine/branches/apple$!refs/pristine/branches/apple-base!
  substitute branch s!^refs/pristine/tags/!refs/pristine/svntag/!
  substitute branch s!^refs/pristine/branches/!refs/pristine/!
end match

### Handle gcc-plugin -> dragonegg special cases:

match /gcc-plugin/
  # In this (single) revision, the files weren't in a trunk subdir yet.
  max revision 74837
  repository monorepo
  branch refs/pristine/master
  prefix dragonegg/
end match

match /
  # Ignore move from /gcc-plugin/ to /gcc-plugin/trunk/
  min revision 74897
  max revision 74897
end match

match /gcc-plugin/trunk/
  # Special case: use "dragonegg" dir for /gcc-plugin.
  max revision 83829
  repository monorepo
  branch refs/pristine/master
  prefix dragonegg/
end match

match /
  # Ignore move from gcc-plugin/ to dragonegg/, and re-addition of
  # gcc-plugin with README.
  min revision 83830
  max revision 83831
end match

match /dragonegg/branches/trunk/
  # r142090 branched dragonegg to "trunk"; they meant "release_30".
  min revision 142090
  max revision 142090
  repository monorepo
  branch refs/pristine/release_30
  prefix dragonegg/
end match

match /
  # ...and then r142091 renamed it.
  min revision 142091
  max revision 142091
end match

### Handle compiler-rt's initial revision, which was out of trunk/
match /compiler-rt/
  min revision 73172
  max revision 73172
  repository monorepo
  branch refs/pristine/master
  prefix compiler-rt/BlocksRuntime/
end match

match /
  # Ignore move to trunk/
  min revision 74290
  max revision 74290
end match

### Handle debuginfo-tests initial revisions, which were not in a trunk subdir
match /debuginfo-tests/
  max revision 113804
  repository monorepo
  branch refs/pristine/master
  prefix debuginfo-tests/
end match

match /debuginfo-tests/
# Ignore revisions that just moved files from debuginfo-tests/ to debuginfo-tests/trunk/
  min revision 113806
  max revision 113811
end match

# Ignore added and then immediately removed build artifacts:
match /lldb/trunk/build/
end match

# Note: filtering of llvm.zip is done as a post-processing step,
# because it's copied into a bunch of branches, and filtering contents
# of partial-branch copies is tricky.

# lldb has a silly-named branch
match /lldb/branches/apple/calcite/lldb/
  repository monorepo
  prefix lldb/
  branch refs/pristine/apple/calcite
end match

# Ignore old stacker branches -- they're just cvs conversion detreitus.
match /stacker/(?:branches|tags)/
  max revision 31457
end match

### Handle Monorepo projects

match /monorepo-root/trunk/
  repository monorepo
  branch refs/pristine/master
end match

match /monorepo-root/(${BRANCH_PATTERNS}|${TAG_PATTERNS})/
  repository monorepo
  branch refs/pristine/\1
  substitute branch s!^refs/pristine/tags/RELEASE_35$!refs/pristine/tags/RELEASE_350!
  substitute branch s!^refs/pristine/tags/RELEASE_28$!refs/pristine/tags/RELEASE_28/final!
  substitute branch s!^refs/pristine/branches/apple$!refs/pristine/branches/apple-base!
  substitute branch s!^refs/pristine/tags/!refs/pristine/svntag/!
  substitute branch s!^refs/pristine/branches/!refs/pristine/!
end match

match /(${MONOREPO_PROJECTS})/trunk/
  repository monorepo
  branch refs/pristine/master
  prefix \1/
end match

match /(${MONOREPO_PROJECTS})/(${BRANCH_PATTERNS}|${TAG_PATTERNS})/
  repository monorepo
  prefix \1/
  branch refs/pristine/\2
  substitute branch s!^refs/pristine/tags/RELEASE_35$!refs/pristine/tags/RELEASE_350!
  substitute branch s!^refs/pristine/tags/RELEASE_28$!refs/pristine/tags/RELEASE_28/final!
  substitute branch s!^refs/pristine/branches/apple$!refs/pristine/branches/apple-base!
  substitute branch s!^refs/pristine/tags/!refs/pristine/svntag/!
  substitute branch s!^refs/pristine/branches/!refs/pristine/!
end match

### Explicitly ignore others.
match /(${SEPARATED_PROJECTS}|${ARCHIVE_PROJECTS}|${IGNORED_PROJECTS})/
end match

match /README.(html|txt)
end match

# Note: any unhandled paths that reach the end are an error.
